* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Links */
a, a:link, a:visited, a:hover {
  text-decoration: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

ul, ul li {
  list-style: none; }

img {
  vertical-align: top; }

img, svg {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/* Form */
input, textarea, button, select {
  text-align: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

:root {
  --container-width: 1020px;
  --container-padding: 15px;
  --default-ff: sans-serif;
  --default-fw: 400;
  --main-color: #25547e;
  --default-text-color: var(--main-color);
  --sub-color: #a1c2b2;
  --bg-color: #edf7fe;
  --header-color: #d4ecfd; }

.page, .main__album, .imageView {
  display: flex;
  flex-direction: column; }

.header__container, .main__container, .imageView__nav {
  display: flex;
  flex-direction: row;
  align-items: center; }

html {
  font-size: 18px;
  font-family: var(--default-ff);
  font-weight: var(--default-fw);
  color: var(--default-text-color); }

.stop-scroll {
  overflow: hidden; }

.page {
  min-height: 100vh;
  min-width: 98vw;
  row-gap: 0px; }

.container {
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  padding: 0 var(--container-padding);
  margin: 0 auto; }

.page__header {
  background-color: var(--header-color);
  padding: 30px 0;
  text-align: center; }
.page__main {
  background-color: var(--bg-color);
  flex-grow: 1;
  padding: 40px; }

.header__container {
  column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between; }
  @media (max-width: 570px) {
    .header__container {
      flex-direction: column; } }
@media (max-width: 570px) {
  .header__goBack {
    order: 4; } }
.header__goBack img {
  width: 28px; }
  @media (max-width: 570px) {
    .header__goBack img {
      width: 20px; } }
.header__title {
  color: var(--default-font-color);
  font-size: 36px;
  font-weight: var(--default-fw);
  line-height: normal;
  font-family: var(--default-ff);
  flex-grow: 1;
  max-width: 98vw;
  word-wrap: break-word;
  padding: 0 10px; }
  @media (max-width: 570px) {
    .header__title {
      font-size: 28px; } }

.main__container {
  column-gap: 50px;
  row-gap: 25px;
  flex-wrap: wrap; }
  .main__container_album {
    column-gap: 25px; }
    .main__container_album .main__album {
      flex-basis: 320px;
      max-width: 320px; }
    .main__container_album .album__imageContainer {
      max-height: 170px;
      width: 100%;
      overflow: hidden;
      border-radius: 8px; }
    .main__container_album .album__imageWrapper {
      padding: 14px;
      width: 100%;
      border-radius: 12px;
      background-color: #fff; }
    .main__container_album .album__image {
      min-width: 100%;
      height: auto; }
    .main__container_album .album__count {
      color: var(--sub-color);
      font-size: 16px;
      font-weight: var(--default-fw);
      line-height: normal;
      font-family: var(--default-ff); }

.main__album {
  row-gap: 6px;
  cursor: pointer;
  flex-basis: 470px;
  max-width: 470px;
  flex-grow: 1; }

.album__imageContainer {
  max-height: 270px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 8px; }
.album__imageWrapper {
  padding: 14px;
  width: 100%;
  border-radius: 12px;
  background-color: #fff; }
.album__image {
  min-width: 100%;
  height: auto; }
.album__count {
  color: var(--sub-color);
  font-size: 16px;
  font-weight: var(--default-fw);
  line-height: normal;
  font-family: var(--default-ff); }

.imageView-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000035; }

.imageView {
  background-color: #FFF;
  margin: 0 15px;
  padding: 15px;
  row-gap: 15px;
  align-items: flex-end;
  border-radius: 12px;
  max-width: 700px;
  width: 100%;
  height: 65vw;
  max-height: 510px; }
  .imageView__image-container {
    flex-grow: 1;
    max-height: calc(100% - 35px);
    width: 100%;
    border-radius: 8px;
    overflow: hidden; }
    .imageView__image-container img {
      width: 100%;
      height: auto; }
  .imageView__nav {
    column-gap: 15px;
    align-items: center; }
    .imageView__nav button {
      display: flex;
      align-items: center; }
    .imageView__nav img {
      width: 14px;
      height: 14px; }
    .imageView__nav span {
      color: var(--sub-color); }
  .imageView__arrow img {
    width: 20px;
    height: 25px; }

/*# sourceMappingURL=index.css.map */
